{% block sw_cms_element_twitter_timeline_preview %}
    <div class="sw-cms-el-preview-twitter-timeline">
        <img :src="'/plugintwitter/static/img/cms/twitter-timeline.png' | asset">
    </div>
{% endblock %}
