{% block element_twitter_timeline %}
    <div data-twitter-timeline="true">
        <a class="twitter-timeline"
           href="{{ element.config.twitterHref.value }}">
            Tweets by {{ element.config.twitterHandle.value }}
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}
