{% block element_twitter_buttons %}
    <div data-twitter-buttons="true">
        <a :href="getAttrByType(element.config.twitterButtons.handle, 'href')"
           :class="getAttrByType(element.config.twitterButtons.handle, 'class')"
           :data-screen-name="element.config.twitterButtons.handle"
           data-size="large"
           data-show-count="false">{{ getAttrByType(element.config.twitterButtons.handle, 'message') }}
        </a>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}
