{% block element_twitter_button %}
    <div data-twitter-timeline="true">
        <a class="{{ element.config.className.value }}"
           href="{{ element.config.href.value }}">
            Tweets by {{ element.config.handle.value }}
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}
