<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
  <card>
    <title>Configuration - Flagbit Twitter Plugin</title>
    <title lang="de-DE">Konfiguration - Flagbit Twitter Plugin</title>
    <input-field>
      <name>twitterHandle</name>
      <label>Twitter Handle</label>
    </input-field>
  </card>
</config>
