{% block sw_cms_element_twitter_buttons_config %}
    <div class="sw-cms-el-config-twitter-buttons">
        {% block sw_cms_element_twitter_buttons_config_buttonType_field %}
            <sw-select-field
                :label="$tc('sw-cms.elements.twitterButtons.label')"
                :options="buttonOptions"
                v-model="element.config.twitterButtons.buttonType">
            </sw-select-field>
        {% endblock %}

        <sw-container v-if="showHandle()">
            <sw-field v-model="element.config.twitterButtons.handle"
                      type="text"
                      :placeholder="$tc(`sw-cms.elements.twitterButtons.${element.config.twitterButtons.buttonType}.options.handle.placeholder`)">
            </sw-field>

            <sw-field v-if="showUserId()"
                      v-model="element.config.twitterButtons.userId"
                      type="text"
                      :placeholder="$tc(`sw-cms.elements.twitterButtons.${element.config.twitterButtons.buttonType}.options.userId.placeholder`)">
            </sw-field>
        </sw-container>
    </div>
{% endblock %}
