{% block sw_cms_element_twitter_buttons_config %}
    <div class="sw-cms-el-config-twitter-buttons" ref="twitterButtonsConfig">
        {% block sw_cms_element_twitter_buttons_config_buttonType_field %}
            <sw-select-field
                :label="$tc('sw-cms.elements.twitterButtons.label')"
                :options="buttonOptions"
                v-model="element.config.buttonType">
            </sw-select-field>
        {% endblock %}

        <sw-container v-if="showHandle()">
            <sw-field v-model="element.config.handle"
                      type="text"
                      :placeholder="$tc(`sw-cms.elements.twitterButtons.${element.config.buttonType}.options.handle.placeholder`)">
            </sw-field>

            <sw-field v-if="showUserId()"
                      v-model="element.config.userId"
                      type="text"
                      :placeholder="$tc(`sw-cms.elements.twitterButtons.${element.config.buttonType}.options.userId.placeholder`)">
            </sw-field>
        </sw-container>

        <sw-button v-if="'' !== element.config.buttonType"
                   @click="initTwitterScript()"
                   variant="danger"
                   size="small">
            {{ $tc('global.default.save') }}
        </sw-button>
    </div>
{% endblock %}
