{% block sw_cms_element_twitter_button_preview %}
    <div class="sw-cms-el-preview-twitter-button">
        <img :src="'/plugintwitter/static/img/cms/twitter-buttons.png' | asset">
    </div>
{% endblock %}
