{% block sw_cms_element_twitter_buttons %}
    <div class="sw-cms-el-twitter-buttons" ref="twitterButtons">
        <a v-if="element.config.twitterButtons.buttonType === 'share'"
           href="https://twitter.com/share?ref_src=twsrc%5Etfw"
           class="twitter-share-button"
           data-size="large"
           data-show-count="false">Tweet
        </a>

        <a v-if="element.config.twitterButtons.buttonType === 'follow'"
           :href="`https://twitter.com/${element.config.twitterButtons.handle}?ref_src=twsrc%5Etfw`"
           class="twitter-follow-button"
           data-size="large"
           data-show-count="false">Follow @{{ element.config.twitterButtons.handle }}
        </a>

        <a v-if="element.config.twitterButtons.buttonType === 'mention'"
           :href="`https://twitter.com/intent/tweet?screen_name=${element.config.twitterButtons.handle}&ref_src=twsrc%5Etfw`"
           class="twitter-mention-button"
           data-size="large"
           data-show-count="false">Tweet to @{{ element.config.twitterButtons.handle }}
        </a>

        <a v-if="element.config.twitterButtons.buttonType === 'hashtag'"
           :href="`https://twitter.com/intent/tweet?button_hashtag=${element.config.twitterButtons.handle}&ref_src=twsrc%5Etfw`"
           class="twitter-hashtag-button"
           data-size="large"
           data-show-count="false">Tweet #{{ element.config.twitterButtons.handle }}
        </a>

        <a v-if="element.config.twitterButtons.buttonType === 'message'"
           :href="`https://twitter.com/messages/compose?recipient_id=${element.config.twitterButtons.userId}&ref_src=twsrc%5Etfw`"
           class="twitter-dm-button"
           data-size="large"
           :data-screen-name="element.config.twitterButtons.handle"
           data-show-count="false">Message @{{ element.config.twitterButtons.handle }}
        </a>
    </div>
{% endblock %}
