{% block sw_cms_element_twitter_buttons %}
    <div class="sw-cms-el-twitter-buttons" ref="twitterButtons">
        <a :href="hrefText"
           :class="classText"
           :data-screen-name="element.config.handle"
           data-size="large"
           data-show-count="false">{{ message }}
        </a>
    </div>
{% endblock %}
